---
import "../styles/components/person-card.css";

export interface Props {
    image: string;
    name: string;
    title: string;
}

const { image, name, title } = Astro.props;
---

<article class="person-card" role="group" aria-label={name}>
    <div class="img-wrap">
        <img src={image} alt={name} loading="lazy" />
    </div>

    <div class="info">
        <div class="name">{name}</div>
        <div class="title">{title}</div>
    </div>
</article>
