---
import "@/styles/components/testimonial.css";

const {
    customerImage,
    customerName,
    customerRole,
    customerCompanyLogo,
    customerCompanyName,
} = Astro.props;
---

<div class="testimonial">
    <img src={customerImage} alt={customerName} class="customer-image" />
    <div class="testimonial-content">
        <blockquote class="testimonial-text">
            <slot />
        </blockquote>
        <div class="customer-info">
            <p class="customer-name">{customerName}</p>
            <p class="customer-role">{customerRole}</p>
            <img
                src={customerCompanyLogo}
                alt={customerCompanyName}
                class="company-logo"
            />
            <p class="company-name">{customerCompanyName}</p>
        </div>
    </div>
</div>
